body {
	background-color: hsl(var(--h), var(--s), 35%);
	color: white;
	margin: 0;
	padding: 0;
}
header {
	padding: 1em;
	display: grid;
	grid-template-columns: min-content 1fr;
	justify-content: start;

	img {
		height: 80px;
		grid-row-end: span 2;
	} 
	h1 {
		font-size: 3em;
		line-height: 1;
		margin: 0;
	}
	h2 {
		font-size: 1.5em;
		letter-spacing: -.1ch;
		line-height: 1;
		:first-child {
			color: var(--red);
		}
		:last-child {
			background-color: var(--blue);
			color: white;
			padding: 0 .25ch;
			transform: skewX(-10deg);
			display: inline-block;
			margin-left: .2ch;
		}
	}
	border-bottom: 3px solid var(--blue);
}