html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	line-height: 1.5;
	color: #333;
	background-color: hsl(var(--hue), var(--sat), 95%);
}
*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}