form.xsd2form {
	--min: 15ch;
	--nb-cols: 1;
	display: grid;
	grid-template-columns: 1fr auto;
	gap: .25em .5ch;
	background: none;
	grid-auto-flow: dense;

	> fieldset {
		@include framed;
		grid-column: 1;
		grid-template-columns: [row-start] repeat(var(--nb-cols), [field-start] minmax(var(--min), auto) minmax(calc(var(--min) * 2), 1fr) auto [field-end]) [row-end] !important;
	}

	* {
		gap: inherit;
	}

	> button {
		grid-column: 1 / -1;
	}

	div.hint {
		display: none;
		font-size: smaller;
		font-style: italic;
		position: absolute;
		background-color: hsl(var(--h), var(--s), 40%);
		color: white;
		border-radius: .5em;
		line-height: 1;

		right: 0;
		overflow: hidden;
		z-index: 1000;
		padding: .5em;
		box-shadow: 1px 1px 1px #0006;

		> p {
			transition: 1s;
			margin: 0;
			margin-right: 1em;
		}

		&:focus {
			z-index: 2000;
		}

		&:not(:focus) > p {
			display: none;
		}

		// &:not(:active) {
		// width: 0;
		// }
		&::before {
			position: absolute;
			top: .05em;
			right: .05em;
			content: '!';
			font-style: normal;
			width: 1em;
			height: 1em;
			line-height: 1;
			text-align: center;

		}
	}

	:invalid {
		outline: 1px dashed red;
	}
}

label {
	display: flex;
	align-items: center;
	gap: 0;
}

fieldset {
	display: grid;
	&:disabled {
		display: none !important;
	}

	&.group {
		border: none;
		padding: .25em;
		gap: .5em;
		padding-bottom: 1em;
		box-shadow: none;

		&:has(legend+.add) {
			padding: 0;
			background-color: transparent;
			justify-items: start;
			grid-template-columns: 1fr;

			legend {
				display: none;
			}

			.template {
				position: relative;
				display: contents;
			}

			.add {
				position: relative;
				margin-left: 0;
				border-radius: .5em;
				margin-top: .5em;
				border-width: 1px;
			}
		}

		&,
		& > div {
			display: grid;
			grid-template-columns: subgrid;
			// grid-column: 1 / -1;
		}

		> .element {
			padding-left: 1em;
			position: relative;
			// border: 1px solid #000f;
			box-shadow: none;
			grid-template-columns: 1fr;

			&::before {
				content: '';
				cursor: ns-resize;
				// background-color:#0001;
				background-image:
					linear-gradient(90deg, #fff9, #fff0 50%, #0000 50%, #0002);
				width: .5em;
				position: absolute;
				left: .15em;
				top: 0.25em;
				bottom: 0.25em;

				border-radius: 1em;
			}
		}
	}
}

button.delete {
	--h: 0;
	--s: 100%;
	@include button;
	position: absolute;
	right: -.5em;
	top: -.25em;
}

button.icon {
	font-family: 'Material Symbols Outlined';
	font-size: 1em;
	background-color: transparent;
	padding: 0;
	border: none;
	align-self: center;
}

#templates {
	display: none;
}

@import 'outline';

button.add {
	// grid-column: 1 / -1;
	justify-self: start;
	cursor: pointer;
	background: none;
	border: none;
	border: 1px solid #0003;
	border-top-width: 0;
	box-shadow: 0px 2px -1 1px #0003;

	border-radius: 0 0 .5em .5em;
	padding: 0em .5em;
	margin-left: 1.25em;
	margin-top: -.5em;

	&::before {
		content: '➕\Fe0E';
		margin-right: .5ch;
	}
}

div.template {
	// display: contents;
	padding: 0;
	z-index: 2000;
	position: absolute;
	box-shadow: none !important;
	bottom: -.25em;

	&::before {
		// position: absolute;
		content: var(--label);
		font-size: smaller;
		font-style: italic;
	}
}

@import 'elements';
@import 'attributes';

.group {
	box-shadow: inset 1px 1px 3px #0003;
	background-color: #fff8;

	> div {
		box-shadow: 1px 1px 2px #0003;
	}
}