#outline {
	@include framed;
	font-size: smaller;
	grid-column: -2;

	ul {
		list-style-type: none;
		ul {
			padding-left: 1.5ch;
		}
	}

	button {
		display: flex;
		width: 100%;
		text-align: left;
		padding-right: .5ch;

		&::before {
			content: 'add';
			font-family: 'Material Symbols Outlined';
			display: inline-block;
			height: 100%;
		}

		&:disabled {
			display: none;
		}
	}
}
