@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
:root {
	--h: 200;
	--s: 50%;
	--l: 50%;
	--red: #ff4000;
	--blue: #303075;
	--font-texts: 'Cabin', sans-serif;
	--font-headings: 'Cabin', sans-serif;
	--font-icons: 'Material Symbols Outlined';
}
@mixin button {
	--l: 50%;
	padding: 0;
	border-radius: 100%;
	line-height: 1;
	border:none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	width: 2em;
	height: 2em;
	box-shadow: 1px 1px 1px #0006;
	background-color: hsl(var(--h, 0), var(--s, 0%), var(--l));
	
	&:hover {
		background-color: hsl(var(--h, 0), var(--s, 0%), calc(var(--l) - 10%));
		color: white;
	}
}
@mixin framed {
	background-color: hsl(var(--h), var(--s), 95%);
	color: #333;
	padding: .5em;
	border-radius: .5em;
	border: 1px solid hsl(var(--h), var(--s), 0%);
}
.framed {
	@include framed;
}
@mixin row {
	@include framed;
	display: grid;
	grid-template-columns: subgrid;
	position: relative;
}
.row {
	@include row;
}
@mixin field {
	--span: 1;
	--rowspan: 1;
	grid-template-columns: subgrid;
	grid-column: span 3;
	align-items: center;
}