@import "variables";
@import "boilerplate";
@import "base";
@import "form";
// @import "test";
#app {
	padding: 1em;
}
#app:not(:focus) {
	h6 {
		display: none;
	}
}
h6 {
	display: none !important;
	margin: 0;
	// display: unset !important;
	// position: absolute !important;
	border: 1px dotted blue;
	background-color: #ffe !important;
}
.error {
	color: red;
	background-color: pink;
}
