@import "variables";
@import "boilerplate";
@import "base";
@import "form";
body:not(:focus) {
	h6 {
		display: none;
	}
}
h6 {
	margin: 0;
	position: absolute;
}
.error {
	color: red;
	background-color: pink;
}
