@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wdth,wght@0,75..100,400..700;1,75..100,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0");
:root {
  --h: 200;
  --s: 50%;
  --l: 50%;
  --red: #ff4000;
  --blue: #303075;
  --font-texts: "Cabin", sans-serif;
  --font-headings: "Cabin", sans-serif;
  --font-icons: "Material Symbols Outlined";
}

.framed {
  background-color: hsl(var(--h), var(--s), 95%);
  color: #333;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid hsl(var(--h), var(--s), 0%);
}

.row {
  background-color: hsl(var(--h), var(--s), 95%);
  color: #333;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid hsl(var(--h), var(--s), 0%);
  display: grid;
  grid-template-columns: subgrid;
  position: relative;
}

html {
  font-family: var(--font-texts);
  line-height: 1.5;
  color: #333;
  background-color: hsl(var(--h), var(--s), 95%);
}

body {
  min-height: 100vh;
}

*, *::before, *::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-headings);
  line-height: 1;
}

fieldset {
  border: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  font-size: inherit;
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}

input, button, select, textarea {
  font: inherit;
}

body {
  background-color: hsl(var(--h), var(--s), 35%);
  color: white;
  margin: 0;
  padding: 0;
}

header {
  padding: 1em;
  display: grid;
  grid-template-columns: min-content 1fr;
  justify-content: start;
  border-bottom: 3px solid var(--blue);
}
header img {
  height: 80px;
  grid-row-end: span 2;
}
header h1 {
  font-size: 3em;
  line-height: 1;
  margin: 0;
}
header h2 {
  font-size: 1.5em;
  letter-spacing: -0.1ch;
  line-height: 1;
}
header h2 :first-child {
  color: var(--red);
}
header h2 :last-child {
  background-color: var(--blue);
  color: white;
  padding: 0 0.25ch;
  transform: skewX(-10deg);
  display: inline-block;
  margin-left: 0.2ch;
}

form,
.xsd2form {
  --min: 15ch;
  --nb-cols: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 0.25em 0.5ch;
  background: none;
  grid-auto-flow: dense;
}
form > fieldset,
.xsd2form > fieldset {
  background-color: hsl(var(--h), var(--s), 95%);
  color: #333;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid hsl(var(--h), var(--s), 0%);
  grid-column: 1;
  grid-template-columns: [row-start] repeat(var(--nb-cols), [field-start] minmax(var(--min), auto) minmax(calc(var(--min) * 2), 1fr) auto [field-end]) [row-end] !important;
}
form *,
.xsd2form * {
  gap: inherit;
}
form > button,
.xsd2form > button {
  grid-column: 1/-1;
}
form div.hint,
.xsd2form div.hint {
  display: none;
  font-size: smaller;
  font-style: italic;
  position: absolute;
  background-color: hsl(var(--h), var(--s), 40%);
  color: white;
  border-radius: 0.5em;
  line-height: 1;
  right: 0;
  overflow: hidden;
  z-index: 1000;
  padding: 0.5em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
}
form div.hint > p,
.xsd2form div.hint > p {
  transition: 1s;
  margin: 0;
  margin-right: 1em;
}
form div.hint:focus,
.xsd2form div.hint:focus {
  z-index: 2000;
}
form div.hint:not(:focus) > p,
.xsd2form div.hint:not(:focus) > p {
  display: none;
}
form div.hint::before,
.xsd2form div.hint::before {
  position: absolute;
  top: 0.05em;
  right: 0.05em;
  content: "!";
  font-style: normal;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-align: center;
}
form :invalid,
.xsd2form :invalid {
  outline: 1px dashed red;
}

label {
  display: flex;
  align-items: center;
  gap: 0;
}

fieldset {
  display: grid;
}
fieldset:disabled {
  display: none !important;
}
fieldset.group {
  border: none;
  padding: 0.25em;
  gap: 0.5em;
  padding-bottom: 1em;
  box-shadow: none;
}
fieldset.group:has(legend + .add) {
  padding: 0;
  background-color: transparent;
  justify-items: start;
  grid-template-columns: 1fr;
}
fieldset.group:has(legend + .add) legend {
  display: none;
}
fieldset.group:has(legend + .add) .template {
  position: relative;
  display: contents;
}
fieldset.group:has(legend + .add) .add {
  position: relative;
  margin-left: 0;
  border-radius: 0.5em;
  margin-top: 0.5em;
  border-width: 1px;
}
fieldset.group, fieldset.group > div {
  display: grid;
  grid-template-columns: subgrid;
}
fieldset.group > .element {
  padding-left: 1em;
  position: relative;
  box-shadow: none;
  grid-template-columns: 1fr;
}
fieldset.group > .element::before {
  content: "";
  cursor: ns-resize;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.1333333333));
  width: 0.5em;
  position: absolute;
  left: 0.15em;
  top: 0.25em;
  bottom: 0.25em;
  border-radius: 1em;
}

button.delete {
  --h: 0;
  --s: 100%;
  --l: 50%;
  padding: 0;
  border-radius: 100%;
  line-height: 1;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 2em;
  height: 2em;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  background-color: hsl(var(--h, 0), var(--s, 0%), var(--l));
  position: absolute;
  right: -0.5em;
  top: -0.25em;
}
button.delete:hover {
  background-color: hsl(var(--h, 0), var(--s, 0%), calc(var(--l) - 10%));
  color: white;
}

button.icon {
  font-family: "Material Symbols Outlined";
  font-size: 1em;
  background-color: transparent;
  padding: 0;
  border: none;
  align-self: center;
}

#templates {
  display: none;
}

#outline {
  background-color: hsl(var(--h), var(--s), 95%);
  color: #333;
  padding: 0.5em;
  border-radius: 0.5em;
  border: 1px solid hsl(var(--h), var(--s), 0%);
  font-size: smaller;
  grid-column: -2;
}
#outline ul {
  list-style-type: none;
  padding: 0;
}
#outline button {
  display: flex;
  width: 100%;
  text-align: left;
  padding-right: 0.5ch;
}
#outline button::before {
  content: "add";
  font-family: "Material Symbols Outlined";
  display: inline-block;
  height: 100%;
}
#outline button:disabled {
  display: none;
}

button.add {
  justify-self: start;
  cursor: pointer;
  background: none;
  border: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-top-width: 0;
  box-shadow: 0px 2px -1 1px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 0.5em 0.5em;
  padding: 0em 0.5em;
  margin-left: 1.25em;
  margin-top: -0.5em;
}
button.add::before {
  content: "➕︎";
  margin-right: 0.5ch;
}

div.template {
  padding: 0;
  z-index: 2000;
  position: absolute;
  box-shadow: none !important;
  bottom: -0.25em;
}
div.template::before {
  content: var(--label);
  font-size: smaller;
  font-style: italic;
}

.elements {
  display: contents;
}
.elements > .element {
  --span: 1;
  --rowspan: 1;
  grid-template-columns: subgrid;
  grid-column: span 3;
  align-items: center;
  background-color: transparent;
  padding: 0;
}

.attributes {
  display: contents;
}
.attributes > .attribute {
  --span: 1;
  --rowspan: 1;
  grid-template-columns: subgrid;
  grid-column: span 3;
  align-items: center;
}
.attributes > .attribute :last-child {
  justify-self: stretch;
}
.attributes.row {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10em, auto));
}
.attributes.row > .attribute {
  display: grid;
  grid-template-columns: subgrid;
}

.group {
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.5333333333);
}
.group > div {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

#app {
  padding: 1em;
}

#app:not(:focus) h6 {
  display: none;
}

h6 {
  display: none !important;
  margin: 0;
  border: 1px dotted blue;
  background-color: #ffe !important;
}

.error {
  color: red;
  background-color: pink;
}

.bulle {
  position: absolute;
  background-color: rgba(255, 255, 238, 0.5333333333);
  border: 1px solid #887;
  border-radius: 0.5em;
  font-size: 0.8em;
  padding: 0.5em;
  font-family: monospace;
  -webkit-backdrop-filter: blur(5px) saturate(0%);
          backdrop-filter: blur(5px) saturate(0%);
  pointer-events: none;
}
.bulle:empty {
  display: none;
}